*.txt
*.code-workspace

*.jpg
*.png

*.h5

dev.env

lc_cache
core/__pycache__
.vscode/

install_packages.ipynb

planet_distribution/PS_2022.11.15_03.48.21.csv
planet_distribution/exoplanets.csv

packages/__pycache__
packages/__pycache__/parameters_reading.cpython-310.pyc

packages/exotic_ld_data

.idea/